name: Test

on:
  push:
    branches:
      # Getting too many 502s from the Notion API
      - disabled
      # only non-main (and non-master) branches
      # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#on
      # - "**"
      # - "!main"

jobs:
  deploy:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: extractions/setup-just@v1
        with:
          just-version: '1.25.2'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: denoland/setup-deno@v2
        with:
          deno-version: '2.5.6'

      - uses: pnpm/action-setup@v4
        with:
          version: "10.13.1"

      - name: Install dependencies
        run: just install --frozen-lockfile

      - name: Build website
        run: just generate_and_build
